// * NativeScript build related flags
// * Add [sdk=*] after each one to avoid conflict with CocoaPods flags
OTHER_LDFLAGS[sdk=*] = $(inherited) -ObjC -sectcreate __DATA __TNSMetadata "$(CONFIGURATION_BUILD_DIR)/metadata-$(CURRENT_ARCH).bin" -framework NativeScript -framework TKLiveSync -F"$(SRCROOT)/internal" -licucore -lz -lc++ -framework Foundation -framework UIKit -framework CoreGraphics -framework CoreServices -framework Security

// We need to add CONFIGURATION_BUILD_DIR here so that we can explicitly quote-escape any paths in it, because the implicitly added path by Xcode is not always escaped
FRAMEWORK_SEARCH_PATHS[sdk=*] = $(inherited) "$(SRCROOT)/internal/" "$(CONFIGURATION_BUILD_DIR)"

// Launch custom linker script in order to generate metadata binary file and link it in the executable
LD = $SRCROOT/internal/nsld.sh
LDPLUSPLUS = $SRCROOT/internal/nsld.sh

// * Uncomment this setting to generate TypeScript declarations for the iOS SDK and all linked libraries.
// * They will be generated on each build, so you can find them after running "ns build ios" in "YOUR_APP/platforms/ios".
// NS_TYPESCRIPT_DECLARATIONS_PATH = $(SRCROOT)/typescript-declarations

// * Uncomment this setting to generate human readable metadata for the iOS SDK and all linked libraries.
// * You can learn more about NativeScript metadata in the docs: http://docs.nativescript.org/runtimes/ios/Overview#metadata
// * It will be generated on each build, so you can find it after running "ns build ios" in "YOUR_APP/platforms/ios".
// NS_DEBUG_METADATA_PATH = $(SRCROOT)/debug-metadata

// Xcode 12 
EXCLUDED_ARCHS_x86_64 = arm64 arm64e
EXCLUDED_ARCHS[sdk=iphonesimulator*] = i386 armv6 armv7 armv7s armv8 $(EXCLUDED_ARCHS_$(NATIVE_ARCH_64_BIT))
EXCLUDED_ARCHS[sdk=iphoneos*] = i386 armv6 armv7 armv7s armv8 x86_64
EXCLUDED_ARCHS[sdk=macosx*] = i386 armv6 armv7 armv7s armv8
VALIDATE_WORKSPACE = YES